
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This rule allows anyone to read and write to your database.
    // It is suitable for development but is NOT SECURE for production.
    // You should implement more granular security rules before launching your app.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
